<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather now</title>
</head>
<body>
    <form action="weather" method="get">
        
        <input type="text" name="Location" id="" placeholder="Location">
        <input type="submit" value="check weather">

        <!-- params={'last_updated':last_updated,'temp_c':temp_c,'temp_f':temp_f,'condition_text':condition_text,'condition_icon':condition_icon,'wind_mph':wind_mph,'wind_kph':wind_kph,'wind_degree':wind_degree,'wind_dir':wind_dir,'pressure_mb':pressure_mb,'precip_in':precip_in,'humidity':humidity,'feelslike_c':feelslike_c,'uv':uv,} -->
    </form>
    temperature in c is 
    {{temp_c}}
    feels like
    {{feelslike_c}}
    last updated 
    {{last_updated}}
    condition 
    {{condition_text}}
    <img src={{condition_icon}} alt="icorn">
    wind in mph 
    {{wind_mph}}
    wind direction 
    {{wind_degree}} {{wind_dir}}
    pressure in milibars
    {{pressure_mb}}

</body>
</html>